body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #35528a;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #ddd;
}

.contenido {
    max-width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagen-descripcion {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.imagen-descripcion img {
    width: 100%;
    height: auto;
    display: block;
}

.imagen-descripcion p {
    padding: 10px;
    text-align: justify;
}

.imagen-descripcion h2 {
    text-align: center;
}
